@model IEnumerable<GuiaDeConteudo.Models.Avaliacao>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.id_avalicao)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.id_material)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.cpf_usuario)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.rate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.justificativaAvaliacao)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
             <td>
                @Html.DisplayFor(modelItem => item.id_avalicao)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.id_material)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.cpf_usuario)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.rate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.justificativaAvaliacao)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.id_avalicao">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.id_avalicao">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.id_avalicao">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>

@foreach (var item in Model) {
<div class="card" style="width: 18rem;">
  <div class="card-body">
    <div class="d-flex justify-content-between">
        <h5 class="card-title">Curso</h5>
        <div>
            <a style="text-decoration: none;" asp-action="Edit" asp-route-id="@item.id_avalicao">✏️</a>
            <a style="text-decoration: none;" asp-action="Details" asp-route-id="@item.id_avalicao">📙</a>
            <a style="text-decoration: none;" asp-action="Delete" asp-route-id="@item.id_avalicao">🗑️</a>
        
        </div>
    </div>

    <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>

    <div class="rating">
        <input type="radio" name="rating" value="5" id="5"><label for="5">☆</label>
        <input type="radio" name="rating" value="4" id="4"><label for="4">☆</label>
        <input type="radio" name="rating" value="3" id="3"><label for="3">☆</label>
        <input type="radio" name="rating" value="2" id="2"><label for="2">☆</label>
        <input type="radio" name="rating" value="1" id="1"><label for="1">☆</label>
    </div>
  </div>
</div>
}