@model IEnumerable<GuiaDeConteudo.Models.Usuario>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.cpf_usuario)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.tipo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.dataNascimento)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.grauEscolaridade)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.formacao)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.senha)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.tipo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.dataNascimento)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.grauEscolaridade)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.formacao)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.senha)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.cpf_usuario">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.cpf_usuario">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.cpf_usuario">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
