@model GuiaDeConteudo.Models.Material

@{
    ViewData["Title"] = "Delete";
}

<h1>Deletar</h1>

<div>
    <h4>Material</h4>
    <hr />
    <dl class="row">
        
        <dt class = "col-sm-2">
           Área de conhecimento
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AreaConhecimentoID)
        </dd>
        <dt class = "col-sm-2">
            Titulo
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.titulo)
        </dd>
        <dt class = "col-sm-2">
            Resumo
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.resumo)
        </dd>
        <dt class = "col-sm-2">
            Link
        </dt>
        <dd class = "col-sm-10">
            <a href="@Html.DisplayFor(model => model.link)" target="_blank">@Html.DisplayFor(model => model.link)</a>
        </dd>
        <dt class = "col-sm-2">
            Autor
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.autor)
        </dd>
        <dt class = "col-sm-2">
           Justificativa
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.justificativaAnalise)
        </dd>
        <dd class="col-sm-10">
            <img src="@("~/image/"+Model.ImageName)" asp-append-version="true" width="250px" height="250px" />
        </dd>

    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="id_material" />
        <input type="submit" value="Excluir" class="btn btn-danger" />
        <a asp-action="Index" class="btn btn-secondary w-10">Voltar</a>
    </form>
</div>

            <style>
        h1{
            text-align:center;
        }
    </style>