@model GuiaDeConteudo.Models.Material

@{
    ViewData["Title"] = "Details";
}

<h1>Detalhes</h1>

<div>
    <hr />
    <dl class="row">
        
        <dt class = "col-sm-2">
            Área de conhecimento
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AreaConhecimentoID)
        </dd>
        <dt class = "col-sm-2">
               Título
          </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.titulo)
        </dd>
        <dt class = "col-sm-2">
               Resumo
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.resumo)
        </dd>
        <dt class = "col-sm-2">
            Link
        </dt>
        <dd class = "col-sm-10">
            <a href="@Html.DisplayFor(model => model.link)" target="_blank">@Html.DisplayFor(model => model.link)</a>
        </dd>
        <dt class = "col-sm-2">
            Autor
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.autor)
        </dd>
        <dt class = "col-sm-2">
             Ánalise
             </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.justificativaAnalise)
        </dd>
        <dd class="ver">
            <img src="@("~/image/"+Model.ImageName)" class="img-fluid" asp-append-version="true" width="202.816px" height="324px" />
        </dd>
    </dl>
</div>
<div>

    <div class="btn-group" role="group" aria-label="Basic outlined example">
        <button type="button" class="btn btn-outline-primary">
            <a asp-action="Edit" asp-route-id="@Model.id_material">Editar</a>
        </button>
        <button type="button" class="btn btn-outline-primary">
            <a asp-action="Index">Voltar</a>
        </button>
    </div>

</div>

<style>
    h1 {
        text-align: center;
    }

    .col-sm-10 {
         width: 50%;
    }
    
    </style>
