@model IEnumerable<GuiaDeConteudo.Models.Material>

@{
    ViewData["Title"] = "Index";
}

<div class="row">

    <div class="col-md-12">
        @* offset-md-1">*@

<h1>Publique um conteúdo  </h1>
<br>


<p>
    <button type="button" class="botao3">
        <a class="linktre" asp-action="Create" >Adicionar</a>
    </button>
    </p>
        <br>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayName("Imagem")
            </th>
 
            <th>
                Área
            </th>
            <th>
                Título
            </th>
            <th>
                Resumo
            </th>
            <th>
                Link
            </th>
            <th>
                Autor
            </th>
            <th>
                Justificativa
            </th>
        </tr>
    </thead>
        <tbody id="myTable">
        @foreach (var item in Model)
        {
            <tr>

           <td>

            <img src="@("~/image/"+item.ImageName)" asp-append-version="true" width="40px" height="55px" />

           </td>

            <td class="botoes">
               @Html.DisplayFor(modelItem => item.AreaConhecimento.Area_nome)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.titulo)
            </td>

            <td >
                @Html.DisplayFor(modelItem => item.resumo)
            </td>
                        
            <td>
             <a href="@Html.DisplayFor(modelItem => item.link)" target="_blank">@Html.DisplayFor(modelItem => item.link)</a>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.autor)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.justificativaAnalise)
            </td>
            <td>
                    <a asp-controller="Avaliacoes" asp-action="CreateM" asp-route-id="@item.id_material" >Avaliar</a> |
                <a asp-action="Edit" asp-route-id="@item.id_material">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.id_material">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.id_material">Delete</a>

            </td>
        </tr>
            
}
    </tbody>
</table>
