@model IEnumerable<GuiaDeConteudo.Models.Material>

@{
    ViewData["Title"] = "Index";
}

<div class="row">

    <div class="col-md-12">
        @* offset-md-1">*@

<h1>Publique um conteúdo  </h1>
<br>


<p>
    <button type="button" class="botao3">
        <a class="linktre" asp-action="Create" >Adicionar</a>
    </button>
    </p>
        <br>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayName("Imagem")
            </th>
 
            <th>
                Área
            </th>
            <th>
                Título
            </th>
            <th>
                Resumo
            </th>
            <th>
                Link
            </th>
            <th>
                Autor
            </th>
            <th>
                Justificativa
            </th>
        </tr>
    </thead>
        <tbody id="myTable">
        @foreach (var item in Model)
        {
            <tr>

           <td>

            <img src="@("~/image/"+item.ImageName)" asp-append-version="true" width="40px" height="55px" />

           </td>

            <td class="botoes">
               @Html.DisplayFor(modelItem => item.AreaConhecimento.Nome)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.titulo)
            </td>

            <td >
                @Html.DisplayFor(modelItem => item.resumo)
            </td>
                        
            <td>
             <a href="@Html.DisplayFor(modelItem => item.link)" target="_blank">@Html.DisplayFor(modelItem => item.link)</a>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.autor)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.justificativaAnalise)
            </td>
            <td class="botoes"> 

                            <div class="btn-group" role="group" aria-label="Basic outlined example">
                                <button type="button" class="btn btn-outline-primary">
                            <a asp-action="Edit" asp-route-id="@item.id_material">Editar</a>
                        </button>
                                <button type="button" class="btn btn-outline-primary">
                            <a asp-action="Details" asp-route-id="@item.id_material">Detalhes</a>
                        </button>

                                <button type="button" class="btn btn-outline-primary"
                                    onclick="return confirm('Você tem certeza que deseja deletar essa publicação?')">
                                    <i class="far fa-trash-alt"> </i>
                            <a asp-action="Delete" asp-route-id="@item.id_material">Excluir</a>
                        </button>
                        </div>
                       

            </td>
        </tr>
            
}
    </tbody>
</table>
</div>
</div>

<style>
    a:link {
        text-decoration: none;
        
    }
    a{
       
        text-decoration-color: white;
    }
    .botao3{

        width: 100px;
        height: 37px;
        background-color: dodgerblue;
        border-radius: 20px;
        border-color: dodgerblue;
    }
    .linktre{
        color: white;
    }

    td{
       word-break:break-word;
    }
    .botoes {
        word-break:normal;
    }
    .table{
        width: 110%;
    }
</style>