@model IEnumerable<GuiaDeConteudo.Models.Material>

@{
    ViewData["Title"] = "MeusMateriais";
}

<h1>Meus Materiais</h1>


<p>
    <a asp-action="Create">Cadastrar Novo Material</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.titulo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.resumo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.link)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.autor)
            </th>          
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
            if (item.cpf_usuario == ViewBag.Cpf)
            {
                <tr> 
                    <td>
                        @Html.DisplayFor(modelItem => item.titulo)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.resumo)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.link)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.autor)
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.id_material">Editar</a> |
                        <a asp-action="Details" asp-route-id="@item.id_material">Detalhes</a> |
                        <a asp-action="Delete" asp-route-id="@item.id_material">Excluir</a>
                    </td>
            </tr>
        }
}
    </tbody>
</table>
